<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Settings.css">
    <link rel="stylesheet" href="~/css/Style03.css">
    <!--FONT ICONS-->
    <link href="~/fonts/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fonts/css/solid.css" rel="stylesheet" />

    <title>CoffeTime</title>
</head>
<body>

    <header class="container">       
            <div class="space">
            <div class="wall">
                <div class="mask">
                    <div class="panel">
                        <h1 class="electric"> COFFE TIME <i class="fa-solid fa-mug-hot electric"></i></h1>
                    </div>
                    <nav id="begin" class="menu">
                        <a class="nav Ver3" href="#ini">Bienvenida</a>
                        <a class="nav Ver3" href="#menu">Menú</a>
                        <a class="nav Ver3" href="#card">Loyalty Card</a>
                        <a class="nav Ver3" href="#amb">Ambientes</a>
                        <a class="nav Ver3" href="#res">Reservacion</a>
                    </nav>
                </div>               
            </div>             
                <div class="box">
                    <div class="slider-c"></div>
                </div>
            <div class="separator" data-separator="1"></div>
            </div>                                       
    </header>

    <section id="ini" class="container">
                <div class="welcome">
            <img alt="" class="welcome__pic shaper" />
            <div class="separator" data-separator="2"></div>
            <div class="welcome__box">
                <div class="welcome__item">
                    <img alt="">
                    <h3>Rapido!</h3>
                </div>
                <div class="welcome__item">
                    <img alt="">
                    <h3>Delicioso!</h3>
                </div>
                <div class="welcome__item">
                    <img alt="">
                    <h3>Impecable!</h3>
                </div>
            </div>
            <div class="welcome__text__container">
                <div class="welcome__text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Debitis dolorem provident laborum quae maxime illum illo ipsam vitae qui possimus sed,
                        officia aperiam iusto, fugit aliquid nemo nobis mollitia eveniet!
                    </p>
                    <h3>CoffeTime</h3>
                </div>                
            </div>
           
            <div class="separator" data-separator="3"></div>
                </div>
    </section>
   
    <section class="container">
        <div id="menu" class="title"><h2>MENÚ</h2></div>
        <div class="carta">
            <div class="categories">
                <div class="categ" data-value="1">
                    <img loading="lazy">
                    <h3>Frías</h3>
                </div>
                <div class="categ" data-value="2">
                    <img loading="lazy">
                    <h3>Calientes</h3>
                </div>
                <div class="categ" data-value="3">
                    <img loading="lazy">
                    <h3>Postres</h3>
                </div>
                <div class="categ" data-value="4">
                    <img loading="lazy">
                    <h3>Sandwiches</h3>
                </div>
            </div>
            <div class="catalog-menu">
                <div id="back" class="arrow back"></div>
                <div class="catalog"></div>
                <div id="next" class="arrow next"></div>                         
            </div>
        </div>  
    </section>

    <section class="container">
        <div id="card" class="title"><h2>LOYALTY CARD</h2></div>
        <div class="infographic">
            <div class="infographic__feature">
                <img alt="" class="infographic__pic">
                <h5 class="infographic__text">Prioridad</h5>
            </div>
            <div class="infographic__feature">
                <img alt="" class="infographic__pic">
                <h5 class="infographic__text">Canjea</h5>
            </div>
            <div class="infographic__feature">
                <img alt="" class="infographic__pic">
                <h5 class="infographic__text">Dsctos</h5>
            </div>
            <div class="infographic__feature">
                <img alt="" class="infographic__pic">
                <h5 class="infographic__text">Regalo</h5>
            </div>
            <div class="infographic__feature">
                <div class="card">
                    <div class="card__side face">
                        <div class="face__head">
                            <h3 class="electric"> CoffeTime <i class="fa-solid fa-mug-hot electric"></i></h3>
                        </div>
                        <div class="face__body"></div>
                    </div>
                    <div class="card__side seal">
                        <div class="seal__buys">
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                            <div class="seal__cafe"></div>
                        </div>
                        <div class="seal__name">
                            <h5>www.coffetime.com</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
   
    <section class="container">       
        <div class="separator" data-separator="4"></div>     
        <div class="enviroment">           
            <div id="amb" class="title"><h2>AMBIENTES</h2></div>
            <div class="box-3DCard">
                <div id="slider-3DCard">
                    <input type="radio" name="card" id="s1">
                    <input type="radio" name="card" id="s2">
                    <input type="radio" name="card" id="s3" checked>
                    <input type="radio" name="card" id="s4">
                    <input type="radio" name="card" id="s5">
                    <label for="s1" id="slide1" class="pic"></label>
                    <label for="s2" id="slide2" class="pic"></label>
                    <label for="s3" id="slide3" class="pic"></label>
                    <label for="s4" id="slide4" class="pic"></label>
                    <label for="s5" id="slide5" class="pic"></label>
                </div>
            </div>            
        </div>
        <div class="separator" data-separator="5"></div>
    </section>

      <section class="container">
        <div id="res" class="title"><h2>RESERVACION</h2></div>
        <div class="Form__container">
            <div class="Form__bar">
                <div class="Form__toggle"></div>
            </div>
            <div class="icon"></div>
            <div class="DynamicForm__container">
                <div class="DynamicForm">
                    <input id="mail" type="text" placeholder="Ingresa tu correo..." class="data" />
                    <button id="send">Enviar Codigo</button>
                </div>
                <div class="DynamicForm">
                    <input id="searchCode" type="text" placeholder="Ingresa tu codigo de reservacion..." class="data" />
                    <button id="search">Consultar Reservacion</button>
                </div>
                <div class="DynamicForm">
                    <input id="code" type="text" placeholder="Ingresa tu codigo..." class="data" />
                    <button id="check">Confirmar Codigo</button>
                    <h4>Tiempo restante: <span id="timer"></span></h4>
                    <div class="gif"></div>
                </div>
                <div class="DynamicForm">
                    <input id="name" type="text" placeholder="Ingresa tus nombres..." class="data" />
                    <input id="last" type="text" placeholder="Ingresa tus apellidos..." class="data" />
                    <input id="tel" type="text" placeholder="Ingresa tu celular..." class="data" />
                    <select id="hour"><option value="0">Elige la hora</option></select>
                    <button id="reserv">Reservar</button>
                </div>
                <div class="DynamicForm">
                    <div class="DynamicForm__text"><h3>Cliente</h3></div>
                    <input id="client" type="text" placeholder="" class="data" disabled/>
                    <div class="DynamicForm__text"><h3>Nro de mesa</h3></div>
                    <input id="table" type="text" placeholder="" class="data" disabled />
                    <h3>Hora Elegida</h3>
                    <select id="time" disabled><option value="0">Elige la hora</option></select>
                    <button id="ok">Aceptar</button>
                    <button id="delete">Eliminar Reservacion</button>
                </div>
            </div>
        </div>
      </section>

      <footer class="container">
        <div class="contact-data">
            <p> <i class="fa-solid fa-phone"></i> xxx-xxxx</p>
            <p> <i class="fa-solid fa-envelope"></i> Coffetime@outlook.com</p>
            <p> <i class="fa-solid fa-location-dot"></i> Av. Cafeteria 5678</p>
        </div>
      </footer>

    <a id="backToMenu" href="#begin"></a>

    <script src="~/js/BackToMenu.js"></script>
    <script src="~/js/Countdown.js"></script>
    <script src="~/js/Reservation.js"></script>
    <script src="~/js/CoffeSlider.js"></script>
    <script src="~/js/Menu.js"></script>
    <script src="~/js/Home.js"></script>
</body>
</html>