<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Settings.css">
    <link rel="stylesheet" href="css/Style.css">
    <!--FONT ICONS-->
    <link href="~/fonts/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fonts/css/solid.css" rel="stylesheet" />

    <title>Cesar Galvez</title>
</head>
<body>

    <header class="container">
        <h2>PORTAFOLIO</h2>
        <h3>Ver 1.2</h3>
    </header>

    <section class="projects container">        
        <table class="file">
            <tr>
                <td colspan="2" class="cell"><div class="icon"></div></td>
            </tr>
            <tr>
                <td class="cell"><h3>Sitio Web</h3></td>
                <td class="cell">
                    <select id="list"></select></td>
            </tr>
            <tr>
                <td class="cell"><h3>Aplicación</h3></td>
                <td class="cell"><h3 id="app"></h3></td>
            </tr>
            <tr>
                <td class="cell"><h3>Contexto</h3></td>
                <td class="cell"><h3 id="context"></h3></td>
            </tr>
            <tr>
                <td class="cell"><h3>Páginas</h3></td>
                <td class="cell"><h3 id="num"></h3></td>
            </tr>
            <tr>
                <td colspan="2" class="cell"><button id="go"></button></td>
            </tr>
        </table>
    </section>

    <footer class="container">

        <div class="contact">
            <h2>CONTACTO</h2>
            <div class="info">
                <p> <i class="fa-solid fa-mobile-screen"></i> 924 364 400</p>
                <p> <i class="fa-solid fa-envelope-open-text"></i> bittechly@gmail.com</p>
            </div>
        </div>
    </footer>

<script src="/js/Selector.js"></script>
</body>
</html>
